@import './globals.css';

.token-detail {
    padding: 20px;
    height: 98vh;
    overflow: hidden; /* Prevent page scrolling */
    display: flex;
    flex-direction: column;
}

.token-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.token-header h1 {
    font-family: var(--header-font);
    color: var(--secondary-primary-color);
    margin: 0;
}

.creation-date {
    font-family: var(--body-font);
    font-size: 0.9rem;
    color: var(--tertiary-primary-color);
}

.token-info-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.token-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.token-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.token-info-label {
    font-family: var(--sub-header-font);
    font-weight: bold;
    color: var(--tertiary-primary-color);
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.token-info-value {
    font-family: var(--body-font);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary-primary-color);
}

.nav-tabs {
    border-bottom: 1px solid var(--tertiary-primary-color);
}

.nav-tabs .nav-link {
    font-family: var(--sub-header-font);
    color: var(--secondary-primary-color);
}

.nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-color: var(--tertiary-primary-color) var(--tertiary-primary-color) #fff;
}

.table-container {
    overflow-y: auto; /* Make the table scrollable */
    max-height: calc(100vh - 200px); /* Adjust the height as needed */
}

.table-container .table {
    margin-bottom: 0;
    font-family: var(--body-font);
}

.table-container .table th,
.table-container .table td {
    white-space: nowrap; /* Ensure content stays on one line */
    padding: 8px; /* Adjust padding to make rows more compact */
    font-size: 14px; /* Adjust font size to make rows more compact */
}

.table-container .table th {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--sub-header-font);
}

.table-container .table td {
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--sub-header-font);
}

td {
    font-family: var(--body-font);
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e9ecef;
}

.chart-container {
    flex: 1; /* Allow the chart to fill the remaining space */
    overflow: hidden; /* Prevent chart from causing page scroll */
}

.text-muted {
    color: var(--tertiary-primary-color) !important;
}

.clickable-address {
    color: var(--secondary-color);
    cursor: pointer;
}

.clickable-address:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
