@import './globals.css';

.token-detail {
    height: 100%; /* Set the height to 100vh to prevent page scrolling */
    overflow: hidden; /* Prevent page scrolling */
    display: flex;
    flex-direction: column;
}

.creation-date {
    font-family: var(--body-font);
    font-size: 0.9rem;
    color: var(--tertiary-primary-color);
}

.token-info-card {
    margin-bottom: 15px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.token-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.token-info-item-image {
    display: flex;
    justify-content: center;
}

.token-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 130px;
}

.token-info-label {
    font-family: var(--sub-header-font);
    font-weight: bold;
    color: var(--tertiary-primary-color);
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.token-info-value {
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-primary-color);
}

.token-info-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .token-info-socials-wrapper {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: space-evenly;

        .small-thumbnail-image {
            margin-left: 5px;
            margin-right: 5px;
            height: fit-content;
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid var(--tertiary-primary-color);
    overflow: hidden;
}

.nav-tabs .nav-link {
    font-family: var(--sub-header-font);
    color: var(--secondary-primary-color);
}

.nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-color: var(--tertiary-primary-color) var(--tertiary-primary-color) #fff;
}

.detail-table-container {
    overflow-y: auto; /* Make the table scrollable */
    /*max-height: calc(100vh - 380px); !* Adjust the height to fit within the viewport *!*/
    height: calc(100% - 42px);
}

.detail-table-container .table {
    margin-bottom: 0;
    font-family: var(--body-font);
}

.detail-table-container .table th,
.detail-table-container .table td {
    white-space: nowrap; /* Ensure content stays on one line */
    padding: 8px; /* Adjust padding to make rows more compact */
    font-size: 14px; /* Adjust font size to make rows more compact */
}

.detail-table-container .table th {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--sub-header-font);
}

.detail-table-container .table td {
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--sub-header-font);
    font-size: 14px;
}

td {
    font-family: var(--body-font);
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e9ecef;
}

.chart-container {
    flex: 1;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.text-muted {
    color: var(--tertiary-primary-color) !important;
}

.clickable-address {
    color: var(--secondary-primary-color);
    cursor: pointer;
}

.clickable-address:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .creation-date {
        font-size: 0.8rem;
    }

    .token-info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-container {
        height: 100% !important; /* Adjust height for mobile */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chart-container canvas {
        height: 100% !important; /* Adjust height for mobile */
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .token-info-item-image {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .token-info-socials {
        grid-column: 1 / -1;
        max-width: 200px;
        margin: auto;
    }
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.dark-mode .token-detail {
    background-color: var(--dark-bg-color);
}

.dark-mode .creation-date {
    color: var(--dark-muted-color);
}

.dark-mode .token-info-card {
    background-color: var(--dark-card-bg);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .token-info-label {
    color: var(--dark-muted-color);
}

.dark-mode .token-info-value {
    color: var(--dark-text-color);
}

.dark-mode .detail-table-container .table th {
    background-color: var(--dark-header-bg);
    color: var(--dark-text-color);
}

.dark-mode .detail-table-container .table td {
    color: var(--dark-text-color);
}

.dark-mode tr:nth-child(even) {
    background-color: var(--dark-stripe-bg);
}

.dark-mode tr:hover {
    background-color: var(--dark-nav-hover-bg);
}

.dark-mode .text-muted {
    color: var(--dark-muted-color) !important;
}

.dark-mode .clickable-address {
    color: var(--dark-link-color);
}

.dark-mode .clickable-address:hover {
    color: var(--dark-link-hover-color);
}

@media (max-width: 768px) {

    .dark-mode .creation-date {
        font-size: 0.8rem;
    }

    .dark-mode .token-info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .dark-mode .chart-container {
        height: 100% !important; /* Adjust height for mobile */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dark-mode .chart-container canvas {
        height: 100% !important; /* Adjust height for mobile */
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}