.top-krc20-holders-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh !important; /* Full viewport height */
  padding: 20px;
  overflow: hidden !important;
}

.top-krc20-holders-wrapper h1 {
  font-family: var(--header-font);
  color: var(--secondary-primary-color);
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0;
  font-family: var(--body-font);
  border-radius: 8px; /* Add rounded corners */
  overflow: hidden; /* Ensure rounded corners are visible */
}

.table th {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--sub-header-font);
  z-index: 1;
  padding: 10px 8px; /* Adjust padding for better spacing */
  text-align: left; /* Align text to the left */
  font-size: 0.9rem; /* Adjust font size */
}

.table td {
  vertical-align: middle;
  padding: 8px 8px; /* Adjust padding for better spacing */
  font-size: 0.9rem; /* Adjust font size */
}

.btn-link {
  padding: 0;
  color: var(--secondary-color);
}

.btn-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.table-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wallet-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.wallet-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.table-container {
  height: 98vh !important;
  flex: 1;
  overflow-y: auto !important;
  overflow-x: auto;
}

.table-container .table {
  margin-bottom: 0;
  font-family: var(--body-font);
}

.table-container .table th,
.table-container .table td {
  vertical-align: middle;
}

.clickable-address {
  color: var(--secondary-color);
  cursor: pointer;
}

.clickable-address:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.top-krc20-holders-wrapper::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}