@import './globals.css';

.wallet-lookup {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; /* Adjust based on your layout */
    display: flex;
    flex-direction: column;
    /*todo table wrapper global remove*/
    .table-wrapper{
        height:100%;
        padding: unset;
    }
}

.wallet-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wallet-overview {
    margin-bottom: 10px;
    .grid {
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);

        .clickable {
            margin-left: 10px;
        }
    }
}

.table-wrapper {
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.wallet-lookup .card {
    margin-bottom: 20px;
}

.wallet-lookup .table-wrapper {
    overflow-y: auto;
}

.wallet-lookup .table {
    margin-bottom: 0;
}

.wallet-lookup .table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.wallet-lookup .transaction-id {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable {
    cursor: pointer;
}

.loading-message {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    position: sticky;
    bottom: 0;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Add any additional styles you need */

.dark-mode .wallet-lookup {
    background-color: var(--dark-bg-color);
}

.dark-mode .wallet-lookup .card {
    background-color: var(--dark-card-bg);
    border-color: var(--dark-border-color);
}

.dark-mode .wallet-lookup .table thead th {
    background-color: var(--dark-header-bg);
    color: var(--dark-text-color);
}

.dark-mode .wallet-lookup .table td {
    color: var(--dark-text-color);
}

.dark-mode .clickable-row:hover {
    background-color: var(--dark-nav-hover-bg);
}

.dark-mode .loading-message {
    background-color: var(--dark-card-bg);
    border-top-color: var(--dark-border-color);
    color: var(--dark-text-color);
}
