.dropdown-button {
    .dropdown-toggle {
        aspect-ratio: 1 / 1;
        width: 30px;
        display: inline-block
    }

    .dropdown-toggle::after {
        display: none !important;
    }
    .dropdown-toggle svg {
        position: relative;
        left: 7px;
    }

}