.custom-dropdown {
    .dropdown-menu {
        background-color: var(--primary-color);
        color: white;
        box-shadow: 1px 1px 10px 1px #6f6f6fb0;
    }

    .dropdown-toggle {
        cursor: pointer;
        background-color: var(--primary-color) !important;
        color: white;
    }

    .dropdown-item {
        color: white;
    }

    .dropdown-item:hover {
        background-color: var(--secondary-color);
    }
}

.dark-mode .custom-dropdown {
    .dropdown-toggle {
        background-color: var(--dark-header-bg) !important;
        color: var(--dark-text-color) !important;
        border-bottom-color: var(--dark-border-color);
    }

    .dropdown-menu {
        background-color: var(--dark-header-bg);
        color: var(--dark-text-color);
        border: 1px solid var(--dark-secondary-color);
        box-shadow: 1px 1px 10px 1px black;
    }

    .dropdown-item {
        color: var(--dark-text-color);
    }

    .dropdown-item:hover {
        background-color: var(--dark-secondary-color);
    }
}