
.mobile-holder-distribution {
    overflow-x: auto;
    width: 98%;
    margin-top: 40px;
}

.mobile-holder-distribution table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.mobile-holder-distribution thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.mobile-holder-distribution th,
.mobile-holder-distribution td {
    padding: 20px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.mobile-holder-distribution th {
    background-color: var(--primary-color);
    color: white;
}

.mobile-holder-distribution tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .mobile-holder-distribution {
        margin-top: 0;
    }

}

.dark-mode .mobile-holder-distribution {
    overflow-x: auto;
    width: 98%;
}

.dark-mode .mobile-holder-distribution table {
    width: 100%;
    border-collapse: collapse;
}

.dark-mode .mobile-holder-distribution th,
.dark-mode .mobile-holder-distribution td {
    padding: 20px 8px;
    text-align: left;
    border-bottom: 1px solid var(--dark-border-color);
    color: var(--dark-text-color);
}

.dark-mode .mobile-holder-distribution th {
    background-color: var(--dark-header-bg);
    color: var(--dark-text-color);
}

.dark-mode .mobile-holder-distribution tr:nth-child(even) {
    background-color: var(--dark-stripe-bg);
}
